  
#P1{font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: purple;
}

#P2{font-size:smaller ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:sienna;
}